/** 
	* Filename:     global.css
	* Version:      1.0.0 (15 Aug 2021)
	* Website:      https://www.zymphonies.com
	* Description:  Global styles
	* Author:		Support team
					info@zymphonies.com
**/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * @file
 * Styles for system messages.
 */
.list-group {
  color: #000; }

.messages {
  background: no-repeat 10px 17px;
  /* LTR */
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  /* LTR */
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0px; }

.messages + .messages {
  margin-top: 1.538em; }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.messages__item + .messages__item {
  margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  /* LTR */
  box-shadow: -8px 0 0 #77b259;
  /* LTR */ }

/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  /* LTR */
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
  /* LTR */ }

/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  /* LTR */
  box-shadow: -8px 0 0 #e62600;
  /* LTR */ }

.messages--error p.error {
  color: #a51b00; }

/*FORM*/
/**
 * @file
 * Visual styles for form components.
 */
form .field-multiple-table {
  margin: 0; }

form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0;
  /*LTR*/ }

form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: .5em;
  /*LTR*/ }

form .field-add-more-submit {
  margin: .5em 0 0; }

/*TABS*/
div.tabs {
  margin: 1em 0; }

ul.tabs {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0; }

.tabs > li {
  display: inline-block;
  margin-right: 0.3em;
  /* LTR */ }

.tabs a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 13px;
  background: #e6e6e6;
  line-height: 100%;
  color: #444; }

.tabs a.is-active {
  background-color: #3b88b5;
  color: #fff; }

.tabs a:focus,
.tabs a:hover {
  background-color: #d8782d;
  color: #fff; }

/**
 * @file
 * Seven styles for Tables.
 */
table {
  width: 100%;
  margin: 0 0 10px; }

caption {
  text-align: left;
  /* LTR */ }

th {
  text-align: left;
  /* LTR */
  padding: 10px 12px; }

thead th {
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase; }

tr {
  border-bottom: 1px solid #e6e4df;
  padding: 0.1em 0.6em; }

thead > tr {
  border-bottom: 1px solid #000; }

tbody tr:hover,
tbody tr:focus {
  background: #f7fcff; }

/* See colors.css */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: #fdf8ed; }

tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: #fcf4f2; }

td,
th {
  vertical-align: middle; }

td {
  padding: 10px 12px;
  text-align: left;
  /* LTR */ }

th > a {
  position: relative;
  display: block; }

/* 1. Must match negative bottom padding of the parent <th> */
th > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: -10px;
  /* 1. */
  left: 0;
  right: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

th.is-active > a {
  color: #004875; }

th.is-active img {
  position: absolute;
  right: 0;
  /* LTR */
  top: 50%; }

th.is-active > a:after {
  border-bottom-color: #004875; }

th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: #008ee6;
  text-decoration: none; }

th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after {
  border-bottom-color: #008ee6; }

td .item-list ul {
  margin: 0; }

td.is-active {
  background: none; }

/* Force browsers to calculate the width of a 'select all' TH element. */
th.select-all {
  width: 1px; }

/**
 * Captions.
 */
.caption {
  margin-bottom: 1.2em; }

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) {
  /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none; } }
@media screen and (max-width: 60em) {
  /* 920px */
  th.priority-low,
  td.priority-low {
    display: none; } }
p {
  margin: 0 0 20px 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "Oswald", sans-serif;
  color: #3b88b5;
  font-weight: bold;
  margin: 10px 0;
  line-height: 120%; }

h1, .h1 {
  font-size: 2.5em; }

h2, .h2 {
  font-size: 2em;
  margin-bottom: 20px; }

h3, .h3 {
  font-size: 1.5em; }

h4, .h4 {
  font-size: 1.2em; }

img {
  max-width: 100%; }

em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

h2.title {
  color: #3b88b5; }

hr {
  border-top: 1px solid #eee; }

.custom-block-title {
  text-align: center;
  margin: 20px 0; }
  .custom-block-title h2 {
    font-size: 1.5em;
    color: #000; }

a {
  color: #3b88b5; }
  a:hover {
    color: #d8782d;
    text-decoration: none; }

ol, ul {
  padding-left: 20px;
  margin-bottom: 20px; }
  ol li, ul li {
    list-style: outside; }

.list-unstyled li {
  list-style: none; }

ol li {
  list-style-type: decimal; }

ul.links.inline {
  padding: 0; }
  ul.links.inline li {
    list-style: none; }

.form-email,
.form-text,
.form-textarea {
  border: 1px solid #d8782d;
  background: transparent;
  color: #fff;
}

.block {
  margin-bottom: 10px; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 160%;
  color: #000;
  overflow-x: hidden;
  font-weight: 400;
  background: #fff;
  text-align: left; }

.region-page-title h1 {
  margin: 30px 0; }

.map-and-address h2.title {
  display: none; }

.google_map p, .google_map .block {
  margin: 0; }
.google_map iframe {
  display: block; }

.footer-menu {
  margin: 0;
  border: 0;
  background: url('../images/social-media-bg.png');
  color: #fff;
  background-size: cover;
  padding: 80px 0; }

.social-media {
  padding: 10px 0;
  margin: 0; }
  .social-media a {
    line-height: 100%;
    font-size: 1em;
    display: inline-block;
    padding: 4px 8px;
    width: 26px; }
    .social-media a:hover {
      color: #d8782d; }

input, button, select, textarea {
  padding: 6px;
  border: 1px solid #e3e3e3; }

.contact-message-form label {
  display: block; }

.btn,
.node-readmore a,
.flexslider .more-link,
input[type="submit"] {
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 14px 30px;
  line-height: 100%;
  margin-right: 2px;
  display: inline-block;
  background: #7eaf4a;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.btn:hover,
.node-readmore a:hover,
.flexslider .more-link:hover,
input[type="submit"]:hover {
  background: #325620;
  color: #fff; }

.comment-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5; }
  .comment-wrap .author-details {
    float: left;
    width: 20%; }
  .comment-wrap .author-comments {
    padding-left: 5px;
    float: left;
    width: 80%; }
    .comment-wrap .author-comments h3 {
      margin-top: 10px; }
    .comment-wrap .author-comments p {
      margin-bottom: 10px; }

.comment-submitted {
  padding: 5px 10px;
  border: 1px solid #eee;
  display: inline-block;
  line-height: 100%; }

ul.links.inline li {
  display: inline-block;
  padding-right: 10px; }

.sidebar .region h2.title {
  padding: 5px 0;
  margin: 0; }
.sidebar .region .content {
  padding: 10px 0; }

.region-content {
  min-height: 300px; }

.path-frontpage .region-content {
  min-height: auto; }

.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em; }

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 0.70em;
  line-height: 150%; }

label.option {
  display: inline;
  font-weight: normal; }

.form-composite > legend,
.label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

.marker {
  color: #e00; }

abbr.tabledrag-changed,
abbr.ajax-changed {
  border-bottom: none; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.owl-theme .owl-dots .owl-dot span {
  background: #b5b5b5;
  height: 7px;
  width: 7px; }

.team,
.topwidget,
.footer,
.bottom-widget,
.path-frontpage .main-content,
.services,
.products,
.features,
.price-table,
.copyright,
.clients,
.updates {
  padding: 40px 0; }

.main-content {
  padding: 0 0 50px 0; }

.team,
.features,
.products,
.price-table {
  background: #f6f6f6;
  text-align: center; }

.updates {
  text-align: center; }

.features {
  background-color: #fff; }
  .features .region {
    background: #fff;
    overflow: hidden; }

.footer tbody tr:hover, .footer tbody tr:focus {
  background: none; }

.clients .region ul li {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .clients .region ul li img {
    max-width: 200px; }

.services {
  text-align: center; }
  .services .team-list .block {
    -moz-box-shadow: 0px 0px 3px 0px #ddd;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    padding: 20px; }

.testimonials-wrap {
  background: #fafafa;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  padding: 20px 0;
  text-align: center;
  font-size: 1em;
  line-height: 160%; }

.region-testimonials {
  max-width: 600px;
  margin: 0 auto; }

.testimonials-pic {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px; }

.testimonials-pic img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.testimonials-author {
  padding: 0 5px;
  font-size: .75em;
  color: #555; }

.price-table .card-header,
.bottom-widget .card-header {
  border: 0;
  padding: 20px; }
.price-table ul li,
.bottom-widget ul li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.path-frontpage .feed-icon {
  display: none; }

.team .team-list .region {
  background: #efefef;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #eaeaea; }

.path-frontpage .bottom-widgets {
  padding: 20px 0; }

.top-nav {
  background: #f7f7fa;
  padding: 15px;
  font-size: 1.1em;
  position: relative;
  -moz-box-shadow: 1px 1px 4px #dedede;
  -webkit-box-shadow: 1px 1px 4px #dedede;
  box-shadow: 1px 1px 4px #dedede; }
  .top-nav .region-message,
  .top-nav .region-email {
    display: inline-block; }
  .top-nav .fa {
    padding: 0 5px; }
  .top-nav .block, .top-nav p {
    margin: 0; }

.header {
  padding: 7px 0;
  text-align: left;
  background: #3b88b5; }

.main-header nav {
  border: 0;
  margin: 0;
  position: relative;
  min-height: auto;
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
.main-header .region {
  position: relative;
  padding: 25px 0; }
.main-header .block {
  margin: 0; }
.main-header p, .main-header .block {
  margin: 0; }

.site-branding {
  margin: 0; }

.region-header {
  padding: 12px 0; }

.region-header .brand {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em; }
  .region-header .brand a {
    color: #fff;
    display: block;
    font-weight: 400; }
    .region-header .brand a img {
      vertical-align: middle; }
  .region-header .brand .site-branding__slogan {
    font-size: .5em;
    text-transform: uppercase;
    vertical-align: top; }

.search-block-form {
  margin: 0 auto; }

.region-search {
  width: 100%;
  display: inline-block;
  padding: 7px 0;
  vertical-align: middle; }

#search-block-form {
  display: table;
  width: 100%; }
  #search-block-form .form-item,
  #search-block-form .form-actions {
    display: table-cell;
    vertical-align: top; }
  #search-block-form .form-actions {
    width: 40px; }
  #search-block-form input.form-submit {
    background: url('../images/search.png?1554720536') no-repeat center #3b88b5;
    font-size: 0;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    vertical-align: top;
    -moz-border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0;
    border-radius: 0 20px 20px 0; }
    #search-block-form input.form-submit:hover {
      background-color: #d8782d;
      border-color: #d8782d; }
  #search-block-form input {
    width: 100%;
    height: 40px;
    padding: 15px;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px 0 0 20px; }

.breadcrumb {
  font-size: .85em;
  padding: 2px 0;
  margin: 0;
  display: inline-block; }
  .breadcrumb ul, .breadcrumb ol {
    padding: 0;
    margin: 0; }
    .breadcrumb ul li, .breadcrumb ol li {
      display: inline-block;
      padding: 0 8px; }
      .breadcrumb ul li:after, .breadcrumb ol li:after {
        content: " >";
        padding-left: 15px; }
      .breadcrumb ul li:last-child:after, .breadcrumb ol li:last-child:after {
        display: none; }

.flexslider {
  border: 0;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }
  .flexslider .slider-caption {
    position: absolute;
    top: 12%;
    width: 80%;
    left: 10%;
    z-index: 99;
    text-align: left;
    font-size: 1em;
    line-height: 150%;
    padding: 20px;
    color: #fff; }
  .flexslider .slider-title {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
   }
  .flexslider .slider-description {
    display: inline-block;
    clear: both; }
  .flexslider .slides li {
    position: relative; }
    .flexslider .slides li:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -moz-transition: all 2s;
      -o-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s; }
  .flexslider .flex-direction-nav {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%; }
    .flexslider .flex-direction-nav li {
      list-style: none; }
    .flexslider .flex-direction-nav a {
      font-size: 0;
      padding: 10px; }
      .flexslider .flex-direction-nav a:before, .flexslider .flex-direction-nav a:after {
        color: #3c5a6d; }
  .flexslider .flex-control-paging li a {
    width: 8px;
    height: 8px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .flexslider .flex-control-paging li a.flex-active {
      background: #0084ff; }
  .flexslider .flex-control-nav {
    bottom: 0; }

.navbar-toggle {
  cursor: pointer;
  float: right;
  background: none;
  border: 0;
  padding: 17px 0; }
  .navbar-toggle:focus {
    outline: none; }
  .navbar-toggle .fas {
    font-size: 2em;
    color: #fff;
    border: 0;
    box-shadow: none; }

.navbar-toggle-close {
  position: absolute;
  right: 0;
  padding: 18px;
  font-size: 2em;
  color: #f00;
  cursor: pointer;
  z-index: 99; }

.navbar-default .navbar-toggle {
  z-index: 999;
  margin-right: 0;
  border: 0;
  border-radius: 0;
  color: #fff;
  background: none;
  padding: 6px 6px; }
  .navbar-default .navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 1px;
    background-color: #212020; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none; }

nav h2 {
  display: none; }

.menu-base-theme {
  background: none; }
  .menu-base-theme ul {
    background: none; }
  .menu-base-theme li a {
    font-family: "Poppins", sans-serif;
    color: #fff;
    line-height: 100%;
    padding: 24px 20px;
    font-size: 1.1em; }
    .menu-base-theme li a:hover, .menu-base-theme li a:focus, .menu-base-theme li a:active, .menu-base-theme li a.highlighted {
      background: none;
      color: #000;
      line-height: 100%;
      padding: 24px 20px; }
    .menu-base-theme li a.sub-arrow {
      color: #999;
      font-size: 22px;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid #DCDCDC;
      background: #EFEFEF; }
    .menu-base-theme li a span.sub-arrow {
      line-height: 120%;
      font-size: 2em; }

.region-primary-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
  border-radius: 0px;
  position: fixed;
  top: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  width: auto;
  z-index: 99;
  transition: all .5s; }
  .region-primary-menu.expand {
    left: 0;
    right: 10%; }

.region-footer-menu ul {
  margin: 10px 0;
  padding: 0; }
.region-footer-menu nav li {
  display: inline-block; }
  .region-footer-menu nav li a {
    display: block;
    padding: 2px 15px 2px 0; }

.top-menu {
  font-size: .75em;
  background: #313d48;
  color: #fff; }
  .top-menu .top-blocks {
    overflow: hidden; }
    .top-menu .top-blocks .region {
      padding: 10px 10px 10px 0; }
    .top-menu .top-blocks .social-media {
      padding: 9px 0; }
  .top-menu p, .top-menu .block {
    margin: 0; }
  .top-menu a {
    color: #fff; }

.region-top-menu ul {
  margin: 0;
  padding: 0; }
.region-top-menu nav li {
  display: inline-block; }
  .region-top-menu nav li a {
    padding: 2px 10px;
    text-transform: uppercase;
    line-height: 100%; }

.bd-example {
  position: relative;
  padding: 20px;
}
.highlight {
  padding: 20px;
  background-color: #fff; }
  .highlight pre {
    border: 0;
    background: none; }

.bd-example-type h1, .bd-example-type h2, .bd-example-type h3, .bd-example-type h4, .bd-example-type h5, .bd-example-type h6 {
  margin: 0; }
.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee; }
.bd-example-type .table tr:first-child td {
  border-top: 0; }

.topwidget .fa, .topwidget .fas {
  font-size: 3em; }
.topwidget .topwidget-list .region .block {
  position: relative; }
  .topwidget .topwidget-list .region .block p:last-child {
    margin: 0; }
.topwidget ul {
  margin: 0;
  padding: 0; }
  .topwidget ul li {
    list-style: none;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #dddddd42; }

.contact-message-feedback-form {
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 20px 30px; }

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%; }

.user-login-form,
.user-form,
.user-pass {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #42240d;
  padding: 5px 20px; }
  .user-login-form .form-text,
  .user-login-form .form-email,
  .user-form .form-text,
  .user-form .form-email,
  .user-pass .form-text,
  .user-pass .form-email {
    width: 100%; }

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  color: #999;
  font-style: italic; }

.maintenance-page {
  background: url('../images/maintenance-bg.png?1554720536') #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  color: #000; }
  .maintenance-page .brand,
  .maintenance-page .name-and-slogan {
    display: inline-block;
    vertical-align: middle; }
  .maintenance-page .site-name a {
    color: #404040; }
  .maintenance-page .site-slogan,
  .maintenance-page .name-and-slogan {
    display: none; }

.maintenance-msg {
  margin: 20px 0;
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  background: #f2f4cf;
  background: rgba(242, 244, 207, 0.88);
  -moz-box-shadow: 5px 5px 0px #fff;
  -webkit-box-shadow: 5px 5px 0px #fff;
  box-shadow: 5px 5px 0px #fff; }
  .maintenance-msg h1 {
    text-transform: uppercase;
    font-weight: bold; }

.path-user .profile > div {
  display: inline-block; }
.path-user .profile .label {
  display: block;
  color: #333; }
